<pre>{{projectDetail.data | json}}</pre>
<hr>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Assign this project</h3>
	</div>
	<div class="panel-body">
		<label for="">Select a Student</label>
		<select id="input" ng-model='projectDetail.studentSelection' ng-options='(option.lastName + ", " + option.firstName) for option in projectDetail.students' class="form-control" required="required">
			<option value="">Select a student to assign project</option>
		</select>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Assigned To</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Grade</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Edit Project</h3>
	</div>
	<div class="panel-body">
		<form ng-submit="projectDetail.add()" role="form">
			<div class="form-group">
				<label for="">Name</label>
				<input ng-model="projectDetail.data.projectName" type="text" class="form-control" id="" placeholder="Input field">
			</div>
			<div class="form-group">
				<label for="">Desciption</label>
				<textarea ng-mode="projectDetail.data.projectDescription" class="form-control" rows="3" id="comment"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</div>

<pre>{{projectDetail.students | json}}</pre>
<pre>{{projectDetail.projectId}}</pre>


<div ui-view></div>