#first {
	/*Responsive Full Background Image */
	/*background-image: url('https://ticklemeabel.files.wordpress.com/2014/03/42-33178966.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;*/
	/*opacity: 0.3;*/
	background-color: #222a12;
}

/*Establishes the parameters for sticky footer*/
.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 2em auto -20em;
}

.footer, .push {
	font-size: 1em;
	height: 20em;
	clear: both;
	text-align: center;
	color: #000;
}


/************************************************************
***Centers table rows and aligns buttons in detail screens***
************************************************************/
.colAlign {
	text-align: center;
}

#addGrade,
#saveGrade {
	margin-left: 1.5em;
}

.gradebutton {
	margin-left: 1.5em;
}

.gradeDetail,
.gradeButton {
	display: inline;
}

