<hr>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Assign a project</h3>
	</div>
	<div class="panel-body">
		<form ng-submit='studentDetail.addAssignment(studentDetail.student.studentId)'>
			<label for="">Select a Project</label>
			<div class='input-group'>
				<select id="input" ng-model='studentDetail.newAssignment' ng-options='option.name for option in studentDetail.projects' class="form-control" required="required">
					<option value="">Select a project to assign to a student</option>
				</select>
				<span class='input-group-btn'>
					<button type="submit" class="btn btn-secondary">Assign</button>
				</span>
			</div>
		</form>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Assignments</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th class="gradeAlign">Grade Assignment</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='assignment in studentDetail.student.assignments'>
					<td width=80%>{{assignment.project.name}}</td>
					<td width=15% class="gradeAlign">
						<div ng-hide="editGrade" class="gradeDetail">{{assignment.assignmentGrade}}</div>
						<div ng-show="editGrade" class="gradeDetail">
							<select ng-model="studentDetail.assignGrade" name="Grades" id="">
								<option ng-selected="assignment.assignmentGrade == 'A'" ng-value="A" ng-model="assignment.assignmentGrade">A</option>
								<option ng-selected="assignment.assignmentGrade == 'B'" ng-value="B" ng-model="assignment.assignmentGrade">B</option>
								<option ng-selected="assignment.assignmentGrade == 'C'" ng-value="C" ng-model="assignment.assignmentGrade">C</option>
								<option ng-selected="assignment.assignmentGrade == 'D'" ng-value="D" ng-model="assignment.assignmentGrade">D</option>
								<option  ng-selected="assignment.assignmentGrade == 'F'" ng-value="F" ng-model="assignment.assignmentGrade">F</option>
							</select>
						</div>
						<button type="button" class="btn btn-primary" ng-click="editGrade = !editGrade" ng-hide="editGrade" id="addGrade" class="gradeButton">
							<span class="glyphicon glyphicon-pencil"></span>
						</button>
						<button type="button" class="btn btn-success" ng-click="studentDetail.editGrade(assignment, studentDetail.assignGrade); editGrade = !editGrade" ng-show="editGrade" id="saveGrade" class="gradeButton">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
					</td>
					<td width=5% class="gradeAlign">
						<button type="button" class="btn btn-danger" ng-click="studentDetail.removeAssignment(assignment)" ng-hide="editGrade">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Edit Student</h3>
	</div>
	<div class="panel-body">
		<form role="form">
			<div class="form-group">
				<label for="">First Name</label>
				<input ng-model="studentDetail.student.firstName" type="text" class="form-control" id="">
				<label for="">Last Name</label>
				<input ng-model="studentDetail.student.lastName" type="text" class="form-control" id="">
			</div>
			<div class="form-group">
				<label for="email">Email address:</label>
    			<input ng-model="studentDetail.student.emailAddress" type="text" class="form-control" id="email">
			</div>
			<div class="form-group">
				<label for="email">Telephone:</label>
    			<input ng-model="studentDetail.student.telephone" type='text' class="form-control" id="phone">
			</div>
			<button ng-if='studentDetail.studentId != null' type="submit" class="btn btn-primary" ng-click="studentDetail.updateStudent(studentDetail.student)">Save</button>
			<button ng-if='studentDetail.studentId == null' type="submit" class="btn btn-primary" ng-click="studentDetail.addStudent(studentDetail.student)">Save</button>
		</form>
	</div>
</div>

<!-- <pre>{{studentDetail.student.assignments[0].project.projectId}}</pre>
<pre>{{studentDetail.student | json}}</pre> -->


<div ui-view></div>